<template>
<body>

<h1>Description</h1>
<img :src="image">
<div>This program creates a list of contacts and allows you to filter contacts by name</div>

</body>
</template>

<script>
import image from '@/assets/contacts_logo.png'
export default {
  // eslint-disable-next-line
  name: 'About',
  data () {
    return {
      image: image
    }
  }
}
</script>
<style>
h1 {
text-align: center;
}
div {
text-align: center;
}
</style>
