<template>
<div class='home'>
  <PostForm @create="createPost"/>
  <div class="box">
  <input v-model="searchQuery" class="input" type="search" placeholder="Search">
  </div>
  <PostList v-bind:posts="sortedAndSearchedPost" @remove="removePost"/>
</div>
</template>
<script>
import PostForm from '@/components/PostForm.vue'
import PostList from '@/components/PostList.vue'
export default {
  // eslint-disable-next-line
  name: 'Home',
  components: {
    PostForm, PostList
  },
  // eslint-disable-next-line
  data() {
    return {
      posts: [],
      searchQuery: '',
      selectedSort: ''
    }
  },
  methods: {
    // eslint-disable-next-line
    createPost(post) {
      this.posts.push(post)
    },
    // eslint-disable-next-line
    removePost(post) {
      this.posts = this.posts.filter(p => p.id !== post.id)
    }
  },
  computed: {
    // eslint-disable-next-line
    sortedPost() {
      return [...this.posts].sort((post1, post2) => post1[this.selectedSort]?.localeCompare(post2[this.selectedSort]))
    },
    // eslint-disable-next-line
    sortedAndSearchedPost() {
      return this.sortedPost.filter(post => post.title.includes(this.searchQuery))
    }
  }
}
</script>
<style>
body {
  text-align: center;
}
.box {
  padding: 15px;
}
#search {
  width: 500px;
  margin: 4px auto;
  text-align: center;
  display: inline-block;
}
</style>
