<template>
<body class="text-center">
<main class="form-registration w-100 m-auto">
  <form>
    <h1 class="h3 mb-3 fw-normal">Please register</h1>

    <div class="form-floating">
      <input type="name" class="form-control" id="floatingInput" placeholder="Ivan">
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Repeat password</label>
    </div>
    <div class="form-floating">
      <input type="date" class="form-control" id="floatingDate" placeholder="15.03.2001">
      <label for="floatingDate">Birthday</label>
    </div>
    <div class="form-floating">

                  <select class="form-select" id="floatingSelect">
                    <option value="1" disabled>Gender</option>
                    <option value="2">Female</option>
                    <option value="3">Male</option>
                    <option value="4">Other</option>
                  </select>
                <label for="floatingSelect">Choose your gender</label>
                </div>
    <button class="w-100 btn btn-lg btn-success" type="submit">Sign in</button>
  </form>
</main>
</body>
</template>

<script>
export default {
// eslint-disable-next-line
  name: 'Registration'
}
</script>
<style>
body {
  height: 100%;
}

.form-registration {
  max-width: 330px;
  padding: 15px;
}

.form-registration .form-floating:focus-within {
  z-index: 2;
}
</style>
