<template>
  <div class="list" v-if="posts.length > 0">
    <h3>Contacts list</h3>
    <PostItem v-for="post in posts" v-bind:post="post" v-bind:key="post.id" @remove="$emit('remove', post)"/>
  </div>
  <h2 v-else>
    List is empty
  </h2>
</template>

<script>
import PostItem from '@/components/PostItem.vue'
export default {
  name: 'PostList',
  components: { PostItem },
  props: {
    posts: {
      type: Array,
      required: true
    }
  }
}
</script>
