<template>
  <form @submit.prevent>
  <h4>Create contact</h4>
  <input v-model="post.title" class="input" type="text" placeholder="Name">
  <input v-model="post.body" class="input" type="tel" placeholder="Telephone number">
  <button class="btn" @click="createPost" >Create</button>
  </form>
</template>

<script>
export default {
  name: 'PostForm',
  // eslint-disable-next-line
  data() {
    return {
      post: {
        title: '',
        body: ''
      }
    }
  },
  methods: {
    // eslint-disable-next-line
    createPost(event) {
      this.post.id = Date.now()
      this.$emit('create', this.post)
      this.post = {
        title: '',
        body: ''
      }
    }
  }
}
</script>

<style scoped>
form {
margin: 0 auto;
width:1000px;
}
</style>
