<template>
    <div class="post">
    <div><strong>Name: </strong>{{ post.title }}</div>
    <div><strong>Contact: </strong>{{ post.body }}</div>
  </div>
  <div class="post__btns">
    <button @click="$emit('remove', post)">Delete</button>
  </div>
</template>

<script>
export default {
  name: 'PostItem',
  props: {
    post: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
.post {
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post__btns {
  display: flex;
}
</style>
